<!DOCTYPE html>
<html lang="{{ site.lang | default: "de-DE" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        

        {% if site.logo %}
          <img src="assets/img/hia.png" alt="Logo" />
        {% endif %}
        <p>&nbsp;</p>
        
        <h2 style="font-family:monospace;"><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <div class="voiceapps" style="overflow-y:auto;overflow-x:hidden;height=500px;">   
        <table border-width:0px>
            <tr><td>Programm</td></tr>
            <tr><td>14.00: Einführung und Kurzvorstellung der Projekte</td></tr>
            <tr><td>14.30: Ausstellung in den einzelnen Räumen</td></tr>
            <tr><td>15.25: Gemeinsamer Abschluss</td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td>Vorführungen </td></tr>
            <tr><td>14.40: Vorführung Teams 1/2</td></tr>
            <tr><td>14.50: Vorführung Teams 3/4/5</td></tr>
            <tr><td>15.00: Vorführung Teams 6/7/8</td></tr>
            <tr><td>15.10: Vorführung Teams 9/10/11</td></tr>
          </table>
    
          Die Vorführung der jeweiligen Teams findet in einzelnen Breakout Räumen statt. Dabei steht die Teamnummer für die Nummer des jeweiligen Raumes. 
        </div>

        <!-- <img src="assets/img/HM.png" alt="Logo HM" /><img src="assets/img/MUC.DAI_Logo.png" alt="Logo MUC.DAI" /> -->

      </header>
      <section>


  
      {{ content }}

      </section>
      <footer>
        <div class="voiceapps">
        <a target="_blank" href="mailto:hellomucdai@hm.edu">Kontakt</a> - <a target="_blank" href="https://mucdai.hm.edu/">MUC.DAI</a> - 
        <a target="_blank" href="https://www.hm.edu/sekundaer_navigation/impressum/index.de.html ">Impressum</a>
        </div>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
